h1{
    background-color: rgb(221, 107, 0);
    color: rgb(97, 255, 97);
}

h2{
    background-color: rgb(207, 128, 226);
}

p{
    background-color: rgb(14, 14, 117);
    color:aqua;
}

ul{
    background-color: rgb(4, 100, 28);
    color:rgb(0, 255, 13);
}